@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 100%);
}
.background-pattern {
  display: flex;
  position: absolute;
  height: 60%;
  width: 50%;
  border-bottom-left-radius: 50px;
  right: 0%;
  top: 0%;
  background-color: hsl(207, 33%, 95%);
  z-index: -1;
}
/*******************navbar****************/
.navbar {
  display: flex;
  flex-direction: row;
  margin: 6% 10% 0%;
}
.nav-item {
  display: flex;
  flex-direction: row;
  flex: auto;
  justify-content: flex-end;
  align-items: center;
}
.nav-item button {
  margin-right: 3%;
  background-color: transparent;
  border: none;
  color: hsl(230, 29%, 20%);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}
.nav-item button:hover {
  text-decoration: underline;
  cursor: pointer;
}
.dot {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: hsl(231, 7%, 65%);
  border: none;
  margin-left: 2%;
}
.login-button {
  margin-left: 5%;
}
.login-button button {
  color: hsl(231, 7%, 65%);
}
#icon {
  display: none;
}
/*****************container**************/
.container {
  display: flex;
  flex-direction: row;
  margin: 10% 0% 5% 10%;
  overflow: hidden;
}
/******left******/
.left-portion {
  flex: 46%;
  flex-direction: column;
}
h1 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 60px;
  font-weight: 700;
  width: 80%;
  text-transform: uppercase;
  margin: 18px 0px;
}
p {
  font-size: 18px;
  font-weight: 400;
}
.p1,
.p3 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: hsl(231, 7%, 65%);
}
.p2 {
  font-family: "Barlow", sans-serif;
  width: 48%;
  color: hsl(230, 11%, 40%);
}
.p1 {
  display: flex;
  align-items: center;
  margin-top: 1%;
}
.p1 span {
  padding: 0px 3px 2px 6px;
  background-color: hsl(230, 29%, 20%);
  color: hsl(0, 0%, 100%);
  border-radius: 30px;
  margin-right: 2%;
}
.button-area {
  display: flex;
  margin-top: 8%;
  align-items: center;
}
.button-area button {
  height: 38px;
  width: 142px;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 100%, 68%);
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  margin-right: 4%;
}
.button-area button:hover {
  background-color: hsl(0, 100%, 78%);
  cursor: pointer;
}
/******right****/
.right-portion {
  flex: 54%;
}
.right-portion > img {
  width: 138%;
  height: auto;
}
/**************footer****************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/************responsive*****************/
@media screen and (max-width: 800px) {
  h1 {
    font-size: 38px;
    width: 100%;
  }
  .p2 {
    width: 85%;
  }
}
@media screen and (max-width: 480px) {
  .navbar {
    justify-content: space-between;
    align-items: center;
    margin: 10% 6%;
  }
  .nav-item {
    display: none;
  }
  #icon {
    display: block;
  }
  #icon:hover {
    transform: scale(1.1);
  }
  .container {
    margin: 10% 0% 10% 6%;
    flex-direction: column-reverse;
  }
  .left-portion {
    flex: 100%;
  }
  .p1 {
    margin-top: 10%;
  }
  .p1 span {
    font-size: 16px;
    padding: 0px 4px 2px 7px;
  }
  h1 {
    font-size: 37px;
  }
  .p2 {
    width: 85%;
  }
  .p3 {
    font-size: 16px;
  }
  .right-portion {
    flex: 100%;
    margin-bottom: 15%;
  }
  /******************navbar-responsive***************/
  .navbar.responsive .nav-item {
    display: block;
    position: absolute;
    width: 88%;
    top: 15%;
    left: 6%;
    background-color: hsl(0, 0%, 100%);
    padding: 3% 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 25px -15px hsl(207, 33%, 45%);
  }
  .navbar.responsive .dot {
    display: none;
  }
  .navbar.responsive button {
    padding: 5% 0%;
    width: 100%;
    font-size: 19px;
  }
  .navbar.responsive .login-button {
    margin: 0%;
    border-top: 1px solid hsl(231, 7%, 65%);
  }
}
